@model FMSAPI.Models.Tbl_Department
@{
    ViewBag.Title = "Details";
}

<h2>Department Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            @Html.DisplayName("Department Name :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept_Name)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayName("Description:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
